<!-- HEADER -->
<header role="banner" class="position-absolute">
    <!-- Top Navigation -->
    <nav class="background-transparent background-primary-dott full-width sticky">
        <div class="top-nav">
            <!-- mobile version logo -->
            <div class="logo hide-l hide-xl hide-xxl">
                <a href="index.html" class="logo">
                    <!-- Logo White Version -->
                    <img class="logo-white" src="assets/img/logo.svg" alt="">
                    <!-- Logo Dark Version -->
                    <img class="logo-dark" src="assets/img/logo-dark.svg" alt="">
                </a>
            </div>
            <p class="nav-text"></p>

            <!-- left menu items -->
            <div class="top-nav left-menu">
                <ul class="right top-ul chevron">
                    <li>
                        <a [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
                    </li>
                    <li>
                        <a>Riders</a>
                        <ul>
                            <li>
                                <a [routerLinkActive]="['active']" [routerLink]="['/gianfrancomarmo']">Gianfranco
                                    Marmo</a>
                                <a [routerLinkActive]="['active']" [routerLink]="['/simonelicheri']">Simone Licheri</a>
                        </ul>
                    </li>
                    <li>
                        <a [routerLinkActive]="['active']" [routerLink]="['/spots']">Spots</a>
                    </li>
                </ul>
            </div>

            <!-- logo -->
            <ul class="logo-menu">
                <a href="index.html" class="logo">
                    <!-- Logo White Version -->
                    <img class="logo-white" src="assets/img/logo.svg" alt="">
                    <!-- Logo Dark Version -->
                    <img class="logo-dark" src="assets/img/logo-dark.svg" alt="">
                </a>
            </ul>

            <!-- right menu items -->
            <div class="top-nav right-menu">
                <ul class="top-ul chevron">
                    <li>
                        <a>Mercato usato</a>
                        <ul>
                            <li><a>Product 1</a></li>
                            <li><a>Product 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLinkActive]="['active']" [routerLink]="['/about']">About us</a>
                    </li>
                    <li><a href="contact.html">Contattaci</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>